<ion-modal-view class="product edit create">
          <form name="itemEdit" novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Cancel</a>
              <h1 class="title">Comments</h1>
            </ion-header-bar>
            <ion-content has-bouncing="true">
              <div class="row" ng-class="{'no-padding-top': !data.editItem}">
                <div class="col">
                   <form>
                    <textarea ng-model="txtcomment" placeholder="Your Comment" style='width:550px'></textarea>
                    <button ng-click='btn_add();' style='margin-top:10px;'>Post Comment</button>

                    
                    <div class="popComment">
                      <h4>Comments</h4>
                        <div ng-repeat="comnt in comment"> {{comnt}} 
                          <a  style="float: right;" href="" ng-click="remItem($index)">x</a>
                        </div>
                    </div>
                </form> 
                </div>
              </div>

              <div class="row charity-row">
                <div class="col col-10 vert-center">
                  <div class="charity large"></div>
                </div>
              </div>
            </ion-content>
          </form>
        </ion-modal-view>




   

      
